table{
    width:990px;
}

.main-th-bg
{
 background: #CECDCB;
}

.tdcolor
{
  color:#4D4F5C;
}
.scrollBar {
  @media (min-width: 320px) and (max-width: 768px)
  {
    height: 400px;
    overflow: auto;
  }
}

.example-container {
  height: 70vh;
  overflow: auto;
}
