.light-green {
  background-color: #4ad991;
}

.br-5 {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.bl-5 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.cardShadow
{
  box-shadow: 10px 10px 32px -11px rgba(0,0,0,0.39);
}