@media (min-width: 1440px) {
  .mat-dialog-content {
    width: 900px;
  }
  .closeIcon {
    font-size: 30px;
  }
  mat-error {
    display: inline;
  }

  .mat-dialog-title {
    margin-left: 95px;
  }
}
