<div class="d-flex flex-wrap flex-row">
  <div class="col-xl-10 col-lg-10 col-md-10 col-8">
    <h1 mat-dialog-title class="text-center">{{ dialogData.type }}</h1>
  </div>
  <div class="col-xl-2 col-lg-2 col-md-2 col-4">
    <button
      mat-button
      class="close float-right"
      [mat-dialog-close]="true"
      aria-label="Close"
    >
      <span aria-hidden="true" class="closeIcon">&times;</span>
    </button>
  </div>
</div>

<!--Dialog-->
<div mat-dialog-content>
  <form [formGroup]="registerForm">
    <div class="form-group d-flex flex-row flex-wrap">
      <mat-form-field class="col-12 ">
        <input
          matInput
          placeholder="Name"
          formControlName="name"
          class="form-control"
        />
        <mat-error *ngIf="registerForm.get('name').invalid">{{
          getErrorMessagename()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field class="col-12  mt-3">
        <input
          matInput
          placeholder="Phone"
          formControlName="phone"
          class="form-control "
        />
        <mat-error *ngIf="registerForm.get('phone').invalid">{{
          getErrorMessage1()
        }}</mat-error>
        <!------------server error------------->
        <mat-error
          *ngIf="registerForm.get('phone').errors?.serverError"
          class="ml-1 error"
        >
          {{ registerForm.get("phone").errors?.serverError }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-12 mt-3">
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          class="form-control "
        />
        <mat-error *ngIf="registerForm.get('email').invalid">{{
          getErrorMessage()
        }}</mat-error>
        <!-----------server error--------->
        <mat-error
          *ngIf="registerForm.get('email').errors?.serverError"
          class="ml-1 error"
        >
          {{ registerForm.get("email").errors?.serverError }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-12 mt-3">
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          class="form-control "
          [type]="hide ? 'password' : 'text'"
        />
        <div mat-icon-button matSuffix aria-label="hide" class="icon">
          <mat-icon (click)="hide = !hide" class="cursor-pointer">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </div>
        <mat-hint class="font-xs robot-regular">Minimum 8 character</mat-hint>
      </mat-form-field>

      <!-- <div class="px-3"> -->
      <mat-form-field class="col-12 mt-3">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.id">
            {{ role.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="registerForm.hasError('required')">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="col-12 mt-3">
      <mat-label>Shop</mat-label>
      <mat-select formControlName="shop" multiple>
        <mat-option *ngFor="let shop of shops" [value]="shop.id">
          {{ shop.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="registerForm.hasError('required')">
        This field is required
      </mat-error>
    </mat-form-field>
    <!-- </div> -->
    <div class="row m-0">
      <div
        class="col-xl-10 col-lg-10 col-md-10 col-7 text-xl-right text-lg-right text-md-right text-center"
      >
        <button
          mat-button
          class=" robot-bold bg-white border border-danger "
          [mat-dialog-close]="true"
          cdkFocusInitial
        >
          Cancel
        </button>
      </div>
      <div
        class="col-xl-2 col-lg-2 col-md-2 col-5 text-xl-left text-lg-left text-md-left text-white text-center"
      >
        <button
          mat-button
          class=" robot-bold btnbg "
          (click)="registerSubmit()"
          [disabled]="disableSubmit"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>

<!-- (ngSubmit)="registerSubmit()" -->
