<mat-toolbar class=" bg-white ">
  <span
    ><img
      src="https://i.pinimg.com/originals/61/00/8d/61008dab6f6c4ecf2c27d1f6ad973ed4.jpg"
      width="50"
      class="img-fluid"
  /></span>
  <p class="font-lg robot-regular robot-bold">Billing App</p>

  <span
    class="ml-auto d-flex align-items-center cursor-pointer"
    [matMenuTriggerFor]="menu"
  >
    <i class="material-icons"> person_outline </i
    ><span class="robot-regular headertxt">{{ username }}</span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/my-profile']">My Account</button>

      <button *ngIf="role === 'Admin'" mat-menu-item [routerLink]="['/users']">
        Users
      </button>

      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </span>
</mat-toolbar>
