<div class="background-img">
  <div
    class=" d-flex justify-content-center justify-content-md-end align-items-center h-100"
  >
    <div
      [ngClass]="{ 'h-100': innerWidth >= 768 }"
      class="bg-white col-11 col-md-5 col-lg-4 col-xl-3 d-flex flex-row align-items-center "
    >
      <div class="my-auto text-center col-12  py-5 ">
        <i class="material-icons">
          assignment
        </i>
        <p class="font-lg-l robot-regular headertext-color">Login to Billing App</p>
        <form [formGroup]="loginForm">
          <mat-form-field class="text-secondary w-100" appearance="outline">
            <mat-label>Enter your Email</mat-label>
            <input
              matInput
              placeholder="Email"
              formControlName="username"
              class="form-control"
            />
            <mat-hint class="font-xs robot-regular">Ex: abc@gmail.com</mat-hint>
            <mat-error *ngIf="loginForm.get('username').invalid">{{
              getErrorMessage()
            }}</mat-error>
             <!-----------server error--------->
           <mat-error *ngIf="loginForm.get('username').errors?.serverError">
            {{ loginForm.get('username').errors?.serverError }}
           </mat-error>
          </mat-form-field>
          <mat-form-field
            class="w-100  mt-3"
            hideRequiredMarker="true"
            appearance="outline"
          >
            <mat-label>Enter your Password</mat-label>
            <input
              matInput
              placeholder="Password"
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
              class="form-control"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              aria-label="hide"
              class="bg-transparent"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-hint class="font-xs robot-regular">Minimum 8 characters!</mat-hint>
            <mat-error *ngIf="loginForm.get('password').invalid">{{
              getErrorMessagepwd()
            }}</mat-error>
            <!-----------server error--------->
           <mat-error *ngIf="loginForm.get('password').errors?.serverError">
              {{ loginForm.get('password').errors?.serverError }}
           </mat-error>
          </mat-form-field>
          <div class="mt-3 text-left cursor-pointer">
            <small
              [routerLink]="['/forgot-password']"
              class="roboto-regular secondarytext"
              >Forgot password?</small
            >
          </div>
          <div class="mt-2 text-center">
            <button
              type="submit"
              mat-button
              class="text-white w-100 py-2 robot-bold btnbg"
              (click)="onSubmit()"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

