.userbtn{
    text-align:end;
}
.text{
    text-decoration:none;
}
.menu{
    font-size: 1.2rem;
    background-color: rgb(142, 68, 173);
    padding:5%;

}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
 padding-bottom:15px;
 padding:10px;
 
}

::ng-deep .mat-form-field-outline
{
  background-color: white;
  outline-color: white;
}

.mat-icon{
width:12px;
}

.mat-card
{
    padding:6px;
    padding-top:16px;
}