.text{
    text-decoration:none;
}
.menu{
    font-size: 1.2rem;
    background-color: rgb(142, 68, 173);
    padding:5%;

}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
 padding:9px;
 //padding-bottom: 9px;
 padding-bottom: 4px;
}

::ng-deep .mat-form-field-outline
{
  background-color: white;
  outline-color: white;
}

.mat-icon{
width:14px;
}

.mat-card
{
    padding:6px;
    padding-top:16px;
}

.my-avatar /deep/ .avatar-content {
    border-radius: 5px !important;
}