<div class="container">
  <!-- <div class="row d-flex flex-wrap justify-content-center">
    <div class="col-xl-7 col-lg-7 col-md-5 col-12">
      <h2>Users</h2>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-5 col-8 text-xl-right">
      <mat-form-field
        appearance="outline"
        class="font-xs robot-regular headertxt mt-3"
      >
        <input
          matInput
          class="self_align_center ml-2"
          placeholder="Search Name"
          [(ngModel)]="searchTerm"
          (ngModelChange)="search()"
        />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>
    <div
      class="col-xl-2 col-lg-2 col-md-2 col-4 cursor-pointer text-xl-right mt-3"
    >
      <button
        mat-button
        class="robot-bold btnbg text-white mt-0"
        (click)="addDialog()"
      >
        Add User
      </button>
    </div>
  </div> -->

  <h4
    *ngIf="filteredUsers !== null && filteredUsers?.length == 0"
    class="text-center"
  >
    No user found
  </h4>

  <div class="row pb-5">
    <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let user of filteredUsers">
      <mat-card class="font-weight-bold mt-3">
        <div class="row d-flex flex-wrap justify-content-center ">
          <ngx-avatar
            [name]="user.name"
            [round]="false"
            class="my-avatar"
          ></ngx-avatar>
        </div>
        <div class="row d-flex flex-wrap justify-content-center mt-2">
          <div class="col-lg-8 col-md-8 col-9">
            <div
              class="text-center font-md robot-regular headertxt text-capitalize"
            >
              {{ user.name }}
            </div>
            <div class="text-center">
              <span
                class="font-sm font-weight-bold bg-info rounded px-3 text-white robot-regular headertxt"
                >{{
                  user.role === 1
                    ? "Admin"
                    : user.role === 2
                    ? "Accountant"
                    : "User"
                }}</span
              >
            </div>
            <div class="text-center font-sm robot-regular headertxt">
              {{ user.email }}
            </div>
            <div class="text-center font-sm robot-regular headertxt">
              {{ user.phone }}
            </div>
          </div>
        </div>
        <div class="row text-left">
          <div class="col-6">
            <p class="mb-0 font-sm robot-regular headertxt">
              <mat-icon class="font-sm mb-0 ml-2">edit</mat-icon
              ><span
                (click)="editdetails(user.id)"
                (click)="editDialog(user)"
                class="cursor-pointer"
                >Edit</span
              >
            </p>
          </div>
          <div class="col-6 text-right ">
            <p class="mb-0 font-sm robot-regular headertxt mr-2">
              <mat-icon class="font-sm mb-0">sync_disabled</mat-icon>
              <span
                (click)="statusdetail(user.id, user.is_active)"
                class="cursor-pointer"
                >{{ user.is_active === true ? "Disable" : "Enable" }}</span
              >
            </p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <footer>
    <p class="small text-center">Copyright &copy;2019</p>
  </footer>
</div>
