.mw-100 {
  min-width: 100px;
}

.form-control:focus,
.form-control {
  padding: 0px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(112, 111, 111);
}

.main-th-bg
{
 background: #CECDCB;
}

.tdcolor
{
  color:#4D4F5C;
}

.border-red,.border-red:focus{
  border-color: red;
}

