.mw-100 {
  min-width: 100px;
}

.form-control:focus,
.form-control {
  padding: 0px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(112, 111, 111);
}

.main-th-bg {
  background: #cecdcb;
}

.tdcolor {
  color: #4d4f5c;
}

.border-red,
.border-red:focus {
  border-color: red;
}

.scrollBar {
  @media (min-width: 320px) and (max-width: 768px) {
    min-height: 400px;
    overflow: auto;
  }
}

.div-disabled {
  pointer-events: none;
  opacity: 0.5;
  // background: #ccc;
}

 .example-container {
  height: 70vh;
  overflow: auto;
}
