  <div class="d-flex justify-content-center  align-items-center h-100">
    <div
      class="bg-white col-11 col-md-7 col-lg-6 col-xl-5 d-flex flex-row align-items-center mt-5"
    >
      <div class="my-auto text-center col-12  py-5">
        <form [formGroup]="changeForm" class="w-100">
    
          <mat-form-field class="w-100" >
            <input matInput placeholder="Old Password" [type]="oldPassword ? 'password' : 'text'" formControlName="old_password">
            <div
            matSuffix
            
            aria-label="hide"
            class="bg-transparent"
          >
            <mat-icon (click)="oldPassword = !oldPassword" class="cursor-pointer">{{ oldPassword ? "visibility_off" : "visibility" }}</mat-icon>
            </div>
            <mat-error *ngIf="changeForm.get('old_password').invalid">{{getErrorMessageoldpwd()}}</mat-error>
            <!------------server error------------->
            <mat-error *ngIf="changeForm.get('old_password').errors?.serverError">
              {{ changeForm.get('old_password').errors?.serverError }}
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="w-100" >
            <input matInput placeholder="New Password" [type]="newPassword ? 'password' : 'text'" formControlName="new_password">

            <div
            matSuffix
            
            aria-label="hide"
            class="bg-transparent"
          >
            <mat-icon (click)="newPassword = !newPassword" class="cursor-pointer">{{ newPassword ? "visibility_off" : "visibility" }}</mat-icon>
            </div>

            <mat-hint class="font-xs robot-regular">Minimum 8 characters!</mat-hint>
            <mat-error *ngIf="changeForm.get('new_password').invalid">{{getErrorMessagenewpwd()}}</mat-error>
              <!------------server error------------->
              <mat-error *ngIf="changeForm.get('new_password').errors?.serverError">
                {{ changeForm.get('new_password').errors?.serverError }}
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="w-100" >
            <input matInput placeholder="Confirm Password" [type]="confirmPassword ? 'password' : 'text'" formControlName="confirm_password">
            <div
            matSuffix
            
            aria-label="hide"
            class="bg-transparent"
          >
            <mat-icon (click)="confirmPassword = !confirmPassword" class="cursor-pointer">{{ confirmPassword ? "visibility_off" : "visibility" }}</mat-icon>
            </div>

            <mat-error
              *ngIf="
                changeForm.get('confirm_password').errors !== null &&
                changeForm.get('confirm_password').errors['notMatched']
              "
              >password not matched
            </mat-error
          >
            <mat-error *ngIf="changeForm.get('confirm_password').invalid">{{getErrorMessageconfpwd()}}</mat-error>
             <!------------server error------------->
            <mat-error *ngIf="changeForm.get('confirm_password').errors?.serverError">
                  {{ changeForm.get('confirm_password').errors?.serverError }}
            </mat-error>
          </mat-form-field>
        
          <div class="mt-2"><button type="submit" mat-button class="text-white  robot-bold btnbg" (click)="changepwd()">Submit</button></div>
       
        </form>
    
      </div>
    </div>
  </div>
 
  