  <!-- <div class=" d-flex justify-content-center  align-items-center h-100">
    <div
      class="col-11 col-md-5 col-lg-4 col-xl-3 d-flex flex-row align-items-center "
    > -->
      <div class="my-auto text-center col-12  py-5 ">
        <!-- <i class="material-icons">
          assignment
        </i> -->
        <!-- <p class="font-lg-l robot-regular headertext-color">Change Password</p> -->
        <form [formGroup]="changeForm" class="w-100">
    
          <mat-form-field class="w-100" >
            <input matInput placeholder="Old Password" [type]="hide ? 'password' : 'text'" formControlName="old_password">
            <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            aria-label="hide"
            class="bg-transparent"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
            <mat-error *ngIf="changeForm.get('old_password').invalid">{{getErrorMessageoldpwd()}}</mat-error>
          </mat-form-field>
  
          <mat-form-field class="w-100" >
              <input matInput placeholder="New Password" [type]="hide ? 'password' : ''" formControlName="new_password">
              <mat-hint class="font-xs robot-regular">Minimum 8 characters!</mat-hint>
              <mat-error *ngIf="changeForm.get('new_password').invalid">{{getErrorMessagenewpwd()}}</mat-error>
          </mat-form-field>
  
          <mat-form-field class="w-100" >
            <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : ''" formControlName="confirm_password">
            <mat-error
              *ngIf="
                changeForm.get('confirm_password').errors !== null &&
                changeForm.get('confirm_password').errors['notMatched']
              "
              >password not matched
            </mat-error
          >
            <mat-error *ngIf="changeForm.get('confirm_password').invalid">{{getErrorMessageconfpwd()}}</mat-error>
          </mat-form-field>
        
          <div class="mt-2"><button type="submit" mat-button class="text-white  robot-bold btnbg rounded-0" (click)="changepwd()">Submit</button></div>
       
      </form>
    
      </div>
    <!-- </div>
  </div> -->
