/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";

body {
  margin: 0px !important;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  box-shadow: 5px 5px 8px 1px whitesmoke;
}

.cursor-pointer {
  cursor: pointer;
}

.font-xs {
  font-size: 0.75rem;
}
.font-sm {
  font-size: 0.875rem;
}

.font-md {
  font-size: 1.125rem;
}

.font-lg {
  font-size: 1.25rem;
}

.font-lg-l {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 1.875rem;
}

.robot-regular {
  font-weight: 400;
}

.robot-bold {
  font-weight: 700;
}

.headertext-color {
  color: #707070;
}

.btnbg {
  background: #3381e2;
}

.secondarytext {
  color: #0748f4;
}

.bodybg {
  color: #f0f0f7;
}

.headertxt {
  color: #020000;
}

.tableheader-bg {
  background: #f5f6fa;
}

.optionbg {
  background: #4ad991;
}

.theadbg {
  background: #f5f6fa;
}

.thtext {
  color: #a3a6b4;
}
body {
  position: relative;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  // padding-top: 10px;
}

.cursor-disabled {
  cursor: disabled;
}
.cursor-disabledsy {
  cursor: no-drop;
}
