/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";

body {
  margin: 0px !important;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
