.background-img {
    //   background: url("E:\prj\billingapp\src\app\images\background1.png") no-repeat;
    background: url("../../../../../assets/images/background1.png") no-repeat
      center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  

  
  