<div class="background-img">
  <div class=" d-flex justify-content-center  align-items-center h-100">
    <div
      class="bg-white col-11 col-md-5 col-lg-4 col-xl-3 d-flex flex-row align-items-center "
    >
      <div class="my-auto text-center col-12  py-5 ">
        <i class="material-icons">
          assignment
        </i>
        <p class="font-lg-l robot-regular headertext-color">Set New Password</p>
        <form [formGroup]="resetForm" class="">
          <mat-form-field class="w-100 rounded" appearance="outline">
            <mat-label>Enter new Password</mat-label>
            <input
              matInput
              placeholder="Enter new password"
              [type]="hide ? 'password' : 'text'"
              formControlName="newPassword"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              aria-label="hide"
              class="bg-transparent"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-hint class="font-xs robot-regular">Minimum 8 characters!</mat-hint>
            <mat-error *ngIf="resetForm.get('newPassword').invalid">{{
              getErrorMessagenewpwd()
            }}</mat-error>
          </mat-form-field>
          <mat-form-field class="w-100 rounded" appearance="outline">
            <mat-label>Enter Confirm Password</mat-label>
            <input
              matInput
              placeholder="Confirm Password"
              [type]="hide ? 'password' : ''"
              formControlName="confirmPassword"
            />
            <mat-error *ngIf="resetForm.get('confirmPassword').invalid">{{
              getErrorMessageconfpwd()
            }}</mat-error>
          </mat-form-field>
          <div class="mt-2 text-center">
            <button
              type="submit"
              mat-button
              class="text-white py-2 w-100 robot-bold btnbg"
              (click)="resetpwd()"
            >
              Reset Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
